trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Install dependencies inside demo-app folder
- script: npm install
  workingDirectory: demo-app
  displayName: 'Install Dependencies'

# Build React app inside demo-app folder
- script: npm run build
  workingDirectory: demo-app
  displayName: 'Build React App'

# Publish the build artifacts
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'demo-app/build'
    ArtifactName: 'drop'
