name: Trigger auto deployment for gurpreetdemo369g51

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/gurpreetdemo369g51-AutoDeployTrigger-6de0c2bb-a250-4ec8-975c-14b0192d2227.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.GURPREETDEMO369G51_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.GURPREETDEMO369G51_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.GURPREETDEMO369G51_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.GURPREETDEMO369G51_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.GURPREETDEMO369G51_REGISTRY_PASSWORD }}
          containerAppName: gurpreetdemo369g51
          resourceGroup: 369g51
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


